body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background-color: #011e29;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.latest-news-section {
    background-color: white;
    padding:30px;
    width: 25%;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}

.latest-news-section h3 {
    margin-bottom: 15px;
}

.latest-news-section ul {
    padding-left: 20px;
}

.latest-news-section li {
    margin-bottom: 8px;
}

/* Main Article Section */
.main-article {
    background-color: white;
    padding: 20px;
    width: 35%;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
    text-align: center;
}

.main-article p {
    line-height: 1.5;
}

/* Pictorial News Section */
.pictorial-news-section {
    background-color: white;
    padding: 20px;
    width: 25%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}

.pictorial-news-section img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}


