/* Body Background */
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  background-color: #011e29;
  padding: 25px;
  text-align: center;
}

.header h2 {
  color: white;
  margin: 0;
  font-size: 32px;
}

/* Main Content Container */
.container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  gap: 25px;
}

/* Latest News Section */
.latest-news-section {
  background-color: white;
  width: 20%;
  padding: 20px;
  border-radius: 12px

